body {
    background-color: #fff;
}

.mover {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: var(--mouse-x);
    top: var(--mouse-y);
    z-index: 999;
    pointer-events: none;
    transition: width 0.2s ease-out, height 0.2s ease-out;
}

.mover-text {
    font-size: 15px;
    text-align: center;
    font-family: "Lobster";
    transform: translateY(100%);
    text-shadow: 1px 1px 1px #fff;
}

.header {
    background: url("../images/bg3.jpg") #263133;
    background-size: cover;
    background-blend-mode: multiply;
    clip-path: polygon(0% 0, 100% 0%, 100% 90%, 80% 100%, 20% 100%, 0% 90%);
}


.container {
    margin: 6.5vh 10%;
    height: 100vh;
    text-transform: uppercase;
    color: #fff;
}

.desc-head-main {
    font-family: "Montaga";
    font-size: 4.2vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
    overflow-y: hidden;
    height: 0;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out, height 1.5s ease-in-out;
}

.desc-head-main > p {
    margin: 0;
}

.desc-head-left {
    float: left;
    font-family: "Baloo";
    width: 25%;
    height: max-content;
    font-size: 1.2vw;
    margin: 2% 5% 2% 0;
    color: #8299a8;
    letter-spacing: 1.5px;
    transform: translateX(500px);
    opacity: 0;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.interests {
    color: #8299a8;
    font-family: "Baloo";
    width: 80%;
    font-size: 1em;
    display: inline-block;
    margin: 2% 0;
}

.interests > #hobbies {
    color: #77f9ff;
    margin-left: 0.5%;
    display: inline-flex;
    overflow-x: hidden;
    letter-spacing: 1px;
    white-space: nowrap;
    transition: width 2s ease-in-out;
}

.media {
    text-align: right;
    float: right;
    width: 20%;
    margin-top: 1%;
    letter-spacing: 1px;
}

.media > p {
    color: #77f9ff;
    display: inline-block;
    font-size: 1em;
}

.media > ul {
    list-style: none;
    margin: 1%;
}

.media > ul > li {
    margin: 1% 0;
}

.media > ul > li > a {
    color: #fff;
    text-decoration: none;
    font-family: "Baloo";
}

.media > ul > li > a:hover {
    text-decoration: underline;
}

#content {
    margin: 10% 0;
}

.family {
    color: #027cab;
    display: inline-block;
    width: 100px;
    height: 8vh;
    -webkit-animation: spinner 2s infinite linear;
    animation: spinner 2s infinite linear;
}

@-webkit-keyframes spinner {
    0% { 
       -webkit-transform: rotate3d(0, 1, 0, 0deg);
       transform: rotate3d(0, 1, 0, 0deg);
    }
    50% { 
       -webkit-transform: rotate3d(0, 1, 0, 180deg);
       transform: rotate3d(0, 1, 0, 180deg);
    }
    100% { 
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
       transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes spinner {
    0% { 
       -webkit-transform: rotate3d(0, 1, 0, 0deg);
       transform: rotate3d(0, 1, 0, 0deg);
    }
    50% { 
       -webkit-transform: rotate3d(0, 1, 0, 180deg);
       transform: rotate3d(0, 1, 0, 180deg);
    }
    100% { 
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
       transform: rotate3d(0, 1, 0, 360deg);
    }
}

.skills > h1 {
    text-align: center;
    font-family: "Montaga";
    font-weight: normal;
    margin-top: 10%;
}

.skill {
    margin: 15% 10%;
    height: 65vh;
}

.img-wrap {
    width: 40vw;
    margin-top: 10%;
    height: 50vh;
    transform: rotate(90deg);
}

.skill-left > .img-wrap {
    float: left;
}

.skill-right > .img-wrap {
    float: right;
}

.img-wrap > img {
    width: 100%;
    height: 100%;
    filter: saturate(0) brightness(2);
    transition: filter 0.5s ease-in-out;
}

.text-wrap {
    position: absolute;
    z-index: 2;
    width: 50%;
    filter: blur(5px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in, opacity 0.5s ease-in;
    will-change: transform, filter, opacity;
}

.skill-left > .text-wrap {
    text-align: left;
    transform: translateX(15vw);
    margin: 10% 0 10% 25%;
}

.skill-right > .text-wrap {
    text-align: right;
    transform: translateX(-15vw);
    margin: 10% 25% 10% 0%;
}

.text-wrap > h1 {
    font-family: "Montaga";
    font-size: 5vw;
    font-weight: normal;
    margin: 0;
    text-shadow: -2px 3px 0 #fff;
    display: inline-block;
}

.tools {
    margin: 10% 0 20% 0;
}

.tools > h1 {
    font-size: 5vw;
    color: #fff;
    background: url(../images/bg3.jpg) #263133 bottom center fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    text-transform: uppercase;
    padding: 5% 0;
    margin: 10% 0;
    overflow: hidden;
}

.tools > h1 > span {
    display: block;
    transition: transform 0.2s ease-out;
}

#left, #right {
    text-align: center;
}

.grid-align {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: 
        "main-1 main-1 main-2"
        "web-1 web-2 web-3"
        "frame-1 back web-3"
        "frame-1 db db";
    grid-gap: 5%;
    margin: 0 20%;
    justify-content: space-around;
}

.card {
    border: 5px double #263133;
    padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

.card > img {
    width: 100px;
    height: 100px;
    filter: saturate(0);
    transition: filter 0.2s ease-out;
}

.card:hover > img {
    filter: saturate(1);
}

.card > p {
    color: #263133;
    font-size: 2em;
    font-family: "Lalezar";
    font-weight: bold;
    display: none;
}

.main-1 {
    grid-area: main-1;
}

.main-1 > p, .back > p {
    display: inline-block;
    margin-left: 3%;
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease-in;
}

.main-1:hover > p, .back:hover > p {
    width: 100px;
}

.main-2, .db > p {
    grid-area: main-2;
    flex-direction: column;
}

.main-2 > p, .web-1 > p, .db > p {
    display: block;
    position: absolute;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.main-2 > img, .web-1 > img, .db > img {
    transition: transform 0.5s ease-in, opacity 0.5s ease-out;
}

.main-2:hover > img, .db:hover > img {
    transform: scale(0);
    opacity: 0;
}

.web-1:hover > img {
    transform: scale(2);
    opacity: 0;
}

.main-2:hover > p, .web-1:hover > p, .db:hover > p {
    opacity: 1;
}

.web-1 {
    grid-area: web-1 ;
    flex-direction: column;
}

.web-2 {
    grid-area: web-2;
    overflow: hidden;
}

.web-2 > img {
    transform: translateX(25px);
    transition: transform 0.35s ease-in-out;
}

.web-2:hover > img {
    transform: translateX(-500px);
}

.web-2 > p {
    display: inline-block;
    transform: translateX(500px);
    transition: transform 0.35s ease-in-out;
}

.web-2:hover > p {
    transform: translateX(-50px);
}

.web-3 {
    grid-area: web-3 ;
    overflow: hidden;
    flex-direction: column;
}

.web-3 > img {
    transform: translateY(0);
    transition: transform 0.35s ease-in-out;
}

.web-3:hover > img {
    transform: translateY(-500px);
}

.web-3 > p {
    display: inline-block;
    transform: translateY(500px);
    transition: transform 0.35s ease-in-out;
}

.web-3:hover > p {
    transform: translateY(-50px);
}


.frame-1 {
    grid-area: frame-1;
}

.frame-1 > img {
    transition: transform 0.5s ease-in;
}

.frame-1:hover > img {
    transform: scale(2);
}

.back {
    grid-area: back;
}

.db {
    grid-area: db;
}

.projects {
    text-align: center;
    transition: transform 0.5s ease-in;
    margin-top: 30%;
}

.projects:hover {
    transform: scale(2);
}

.projects > p {
    font-size: 2em;
    font-family: "Lalezar";
}

.projects > p > a {
    text-decoration: none;
    font-family: "Lobster";
    color: #263133;
    text-decoration: underline;
}

.conclude {
    margin: 20% 10%;
}

.conclude > p {
    font-size: 3em;
    line-height: 1.5;
}

.hand-arrow {
    margin-left: 6%;
}

.hand-arrow:before {
    content: "";
    position: absolute;
    background: url("../images/hand-arrow.svg");
    width: 50px;
    height: 50px;
    margin-left: -4.5%;
}

.hand-arrow > a {
    text-decoration: none;
    color: #000;
}

.hand-arrow > a:hover {
    border-bottom: 3px solid #000;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 20%;
}

#design {
    display: inline-flex;
    transition: width 2s ease-in-out;
    overflow-x: hidden;
    color: #87b8d7;
}

.projects > p > a:hover {
    border-bottom: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23263133' stroke-width='3' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

@media (max-width: 1600px) {
    .header {
        clip-path: polygon(0% 0, 100% 0%, 100% 90%, 80% 95%, 20% 95%, 0% 90%);
    }    
}

@media (max-width: 1300px) {
    .img-wrap {
        width: 40vw;
        height: 45vh;
    }
    
    .media > p, .media > ul{
        font-size: 0.8em;
    }
}

@media (max-width: 1000px) {
    .mover {
        display: none;
    }
    
    .container {
        margin: 10vh 10%;
    }
    
    .desc-head-main {
        font-size: 4.8vw;
    }
    
    .desc-head-left {
        width: 32%;
        font-size: 1.5vw;
        margin: 2% 2% 1% 0;
    }
    
    .web-3 > p {
        font-size: 1.75vw;
    }
    
    .tools > h1 {
        font-size: 6vw;
        margin: 10% 0;
    }
    
    .img-wrap {
        width: 50vw;
        height: 40vh;
    }
    
    .skill {
        margin: 10% 0;
    }
    
    .skills > h1 {
        margin-bottom: 20%;
    }
    
    .tools {
        margin: 20% 0;
    }
    
    .conclude > p {
        font-size: 2em;
    }
    
    .hand-arrow {
        margin-left: 7%;
    }

    .hand-arrow:before {
        width: 40px;
        height: 40px;
        margin-left: -5.5%;
    }
    
}

@media (max-width: 800px) {
    .container {
        height: 80vh;
    }
    
    .img-wrap {
        width: 55vw;
        height: 30vh;
    }
    
    .interests {
        width: 75%;
        font-size: 0.8em;
    }
    
    .media {
        width: 25%;
    }
    
    .header {
        clip-path: polygon(0% 0, 100% 0%, 100% 87%, 80% 90%, 20% 90%, 0% 87%);
    }
    
    .grid-align {
        grid-template-areas: 
            "main-1 main-1 main-1"
            "web-1 web-2 web-3"
            "frame-1 back web-3"
            "frame-1 db main-2";
        margin: 0 10%;
        grid-gap: 2%;
        padding: 2% 0;
    }
    
    .tools > h1 {
        padding: 10% 0;
    }
    
    .text-wrap > h1 {
        text-shadow: -1px 1px 0 #fff;
    }
    
    .skill {
        height: 50vh;
        margin: 20% 0;
    }
    
    .skills > h1 {
        font-size: 1.25em;
    }
    
    .projects > p {
        font-size: 1.5em;
    }
    
    .conclude > p {
        font-size: 1.5em;
    }
    
    .hand-arrow {
        margin-left: 7%;
    }

    .hand-arrow:before {
        width: 35px;
        height: 35px;
        margin-left: -5.5%;
    }
}

@media (max-width: 600px) {
    .desc-head-left {
        float: none;
        position: absolute;
        top: 70%;
        width: 100%;
        font-size: 0.5em;
    }
    
    .interests {
        width: 75%;
        font-size: 0.6em;
    }
    
     .skill {
        height: 50vh;
        margin: 2% 0;
    }
    
    .img-wrap {
        height: 25vh;
    }
    
    .media > ul > li {
        margin: 10% 0;
    }
    
    .media > ul > li > a {
        font-size: 1em;
    }
    
    .media{
        font-size: 0.8em;
    }
    
    .grid-align {
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "main-1 main-2"
            "web-1 web-2"
            "frame-1 web-3"
            "db web-3"
            "back back";
        margin: 0 15%;
        grid-gap: 2% 5%;
    }
    
    .main-1 {
        overflow: hidden;
        font-size: 0.8em;
    }

    .main-1 > img {
        transition: transform 0.35s ease-in-out;
    }

    .main-1:hover > img {
        transform: translateX(-500px);
    }

    .main-1 > p {
        display: inline-block;
        transform: translateX(500px);
        transition: transform 0.35s ease-in-out;
    }

    .main-1:hover > p {
        transform: translateX(-50px);
    }
    
    .frame-1:hover > img {
        transform: scale(1.5);
    }
    
    .web-3 > p{
        font-size: 5vw;
    }
    
    .web-3 > img {
        transform: translateY(35%);
    }
    
    .projects > p {
        font-size: 1em;
    }
    
    .conclude > p {
        font-size: 1.25em;
        line-height: 1.8;
    }
    
    .hand-arrow {
        margin-left: 7%;
    }

    .hand-arrow:before {
        width: 25px;
        height: 25px;
        margin-left: -5.5%;
    }
}

@media (max-width: 450px) {
    
    .desc-head-left {
       display: none;
    }
    
    .media {
        width: 100%;
    }
    
    .media > P {
        float: left;
    }
    
    .media > ul > li {
        margin: 2% 0;
    }
    
    .media {
        font-size: 1em;
    }
    
    .interests {
        display: block;
        width: 100%;
        font-size: 0.9em;
        margin: 10% 0;
    }
    
    .interests > #hobbies {
        display: block;
    }
    
    .skills > h1 {
        font-size: 1em;
    }
    
    .family {
        width: 50px;
    }
    
    .skill {
        height: 42vh;
        margin: 10% 0;
    }
    
    .img-wrap {
        width: 60vw;
        height: 25vh;
    }
    
    .container {
        margin: 10vh 10% 0 10%;
    }
    
    #content {
        margin: 0;
    }
    
    .skills > h1 {
        margin: 0 0 10% 0;
    }
    
    .tools > h1 {
        padding: 20% 0;
        margin: 20% 0;
    }
    
    #left {
        margin-bottom: 5%;
    }
    
    .card > img {
        width: 65px;
        height: 65px;
    }
    
    .main-1 {
        font-size: 0.6em;
    }
    
    .web-2 > img{
        margin-left: 15%;
    }
    
    .web-2 > p {
         margin-left: 5%;
    }
    
    .main-1 > img {
         margin-left: 15%;
    }
    
    .main-1 > p {
        overflow: visible;
        margin-left: 15%;
    }
    
    .web-3:hover > p {
        transform: translateY(-100%);
    }
    
    .web-3 > img {
        transform: translateY(50%);
    }
    
    .db > p {
        font-size: 1em;
    }
    
    .tools {
        margin: 20% 0 40% 0;
    }
    
    .projects {
        margin-top: 50%;
    }
    
    .conclude {
        margin: 40% 10%;
    }
    
    .conclude > p {
        font-size: 1em;
    }
    
    .projects:hover {
        transform: scale(1.5);
    }
    
    #design {
        display: block;
    }
    
    .hand-arrow > a:hover {
        border-width: 1px;
    }
    
     .hand-arrow {
        margin-left: 10%;
    }

    .hand-arrow:before {
        width: 25px;
        height: 25px;
        margin-left: -7.5%;
    }
}